@using TeamSpark.AzureDay.WebSite.Config
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Home
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Profile
@model TeamSpark.AzureDay.WebSite.Host.Models.Profile.MyProfileModel

@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - {My.PersonalCabinet}";
}

<div class="boxedcontent">
	@Html.Action("Header", "Layout")

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div>
					&nbsp;
				</div>

				<h1>@My.PersonalCabinet <span class='colortext'>AzureDay @Configuration.Year</span></h1>

				<div id="divProfile" class="col-md-6">
					<h2>@My.MyProfile</h2>
					<form method="POST" data-bind="submit: showModal">

						<div class="input-group myInputGroupdivider">
							<span class="input-group-addon" style="width: 150px;">Email</span>
							<input class="form-control" name="email" readonly="readonly" disabled="disabled" value="@Model.Email" style="width: 250px;"/>
						</div>

						<div class="input-group myInputGroupdivider">
							<span class="input-group-addon" style="width: 150px;">@My.Password</span>
							<input type="password" class="form-control" name="password" data-bind="textInput: password" style="width: 250px;"/>
						</div>
						<div class="input-group myInputGroupdivider">
							<span class="input-group-addon" style="width: 150px;">@My.PasswordAgain</span>
							<input type="password" class="form-control" name="password2" data-bind="textInput: password2" style="width: 250px;" />
						</div>

						<div class="input-group myInputGroupdivider">
							<span class="input-group-addon" style="width: 150px;">@My.FirstName</span>
							<input class="form-control" name="firstName" data-bind="textInput: fName" placeholder="@My.FirstName" value="@Model.FirstName" style="width: 250px;"/>
						</div>
						<div class="input-group myInputGroupdivider">
							<span class="input-group-addon" style="width: 150px;">@My.LastName</span>
							<input class="form-control" name="lastName" data-bind="textInput: lName" placeholder="@My.LastName" value="@Model.LastName" style="width: 250px;"/>
						</div>
						<div class="input-group myInputGroupdivider">
							<span class="input-group-addon" style="width: 150px;">@My.CompanyName</span>
							<input class="form-control" name="company" data-bind="textInput: company" placeholder="@My.CompanyName" value="@Model.Company" style="width: 250px;"/>
						</div>

						<button class="btn btn-primary" type="submit" data-bind="enable: isModelValid() && isPasswordValid() && isPasswordLengthValid()">@My.Save</button>

						<div style="width: 400px; margin-top: 15px; display: none;" class="alert alert-warning" data-bind="style: { display: isPasswordValid() ? 'none' : 'block' }">@My.isPasswordValid</div>

						<div style="width: 400px; margin-top: 15px; display: none;" class="alert alert-warning" data-bind="style: { display: isPasswordLengthValid() ? 'none' : 'block' }">@My.isPasswordLengthValid</div>

						<div style="width: 400px; margin-top: 15px; display: none;" class="alert alert-warning" data-bind="style: { display: isModelValid() ? 'none' : 'block' }">@My.isModelValid</div>

					</form>
				</div>

				<div id="divTicket" class="col-md-6">
					<h2>@My.MyTicket</h2>

					<div>
						<form id="formPay" method="POST" action="/profile/pay">
							@if (Model.PayedConferenceTicket == null)
							{
								<div class="input-group myInputGroupdivider">
									<span class="input-group-addon" style="width: 150px;">@My.Ticket01</span>
									<input id="cbConferenceTicket" type="checkbox" class="form-control" style="width: 50px;" data-bind="checked: isConferenceTicket"/>
									<input type="hidden" name="hasConferenceTicket" />
								</div>
							}
							else
							{
								if (Model.PayedConferenceTicket.IsPayed)
								{
									<div>
										<div class="wow-pricing-table col-md-12">
											<div class="wow-pricing featured wow-column-">
												<div class="wow-pricing-header" style="padding-bottom: 0px;">
													<h5>AzureDay @Configuration.Year</h5>
													<div class="wow-pricing-cost">
														<img id="imgGravatar1" style="display: none; padding-bottom: 10px;"/>
														<p style="font-weight: bold;">@($"{Model.FirstName} {Model.LastName}")</p>
														<p>@Model.Company</p>
														<p>&nbsp;</p>
													</div>
												</div>
												<div class="wow-pricing-content">
													<ul>
														<li>
															@My.Attendee (@Model.PayedConferenceTicket.TicketType.ToString())<br/>
															@Schedule.Date
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									if (Model.PayedWorkshopTicket == null)
									{
										<div>
											<p>@My.HowToUseTicket</p>
										</div>
									}
								}
								else
								{
									<div>
										<div class="wow-pricing-table col-md-12">
											<div class="wow-pricing wow-column-">
												<div class="wow-pricing-header" style="padding-bottom: 0px;">
													<h5>AzureDay @Configuration.Year</h5>
													<div class="wow-pricing-cost" style="padding: 15px;">
														<p>@My.ThankYouWait</p>
														<p>@My.PayNow <a href="/Profile/PayAgain/@Model.PayedConferenceTicket.TicketType">@My.ByLink</a>.
														</p>
														<p>@My.DropPayment01 <a href="/Profile/DeleteTicket/@Model.PayedConferenceTicket.TicketType">@My.ByLink</a>. @My.DropPayment01a</p>
														<p>@My.Questions01 <a href="mailto:pay@azureday.net">pay@azureday.net</a> @My.Questions01a</p>
													</div>
												</div>
												<div class="wow-pricing-content">
													<ul>
														<li>
															@My.Attendee (@Model.PayedConferenceTicket.TicketType.ToString())<br />
															@Schedule.Date
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								}
							}

							@if (Model.PayedWorkshopTicket == null)
							{
								<div class="input-group myInputGroupdivider">
									<span class="input-group-addon" style="width: 150px;">@My.Ticket02</span>
									<input id="cbWorkshopTicket" type="checkbox" class="form-control"style="width: 50px;" data-bind="checked: isWorkshopTicket" />
									<input type="hidden" name="hasWorkshopTicket"/>
								</div>
								<div class="input-group myInputGroupdivider" data-bind="visible: isWorkshopTicket">
									<span class="input-group-addon" style="width: 150px;">@My.Lab01</span>
									<select class="form-control" name="ddlWorkshop" data-bind="options: workshops, optionsValue: 'id', optionsText: 'title', value: selectedWorkshop" style="width: 250px;"></select>
								</div>
							}
							else
							{
								if (Model.PayedWorkshopTicket.IsPayed)
								{
									<div>
										<div class="wow-pricing-table col-md-12">
											<div class="wow-pricing featured wow-column-">
												<div class="wow-pricing-header" style="padding-bottom: 0px;">
													<h5>AzureDay @Configuration.Year</h5>
													<div class="wow-pricing-cost">
														<img id="imgGravatar2" style="display: none; padding-bottom: 10px;" />
														<p style="font-weight: bold;">@($"{Model.FirstName} {Model.LastName}")</p>
														<p>@Model.Company</p>
														<p>&nbsp;</p>
													</div>
												</div>
												<div class="wow-pricing-content">
													<ul>
														<li>
															@My.Attendee (@Model.PayedWorkshopTicket.TicketType.ToString())<br/>
															@Workshops.Date<br/>
															@Model.PayedWorkshop.Title
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div>
										<p>@My.HowToUseTicket</p>
									</div>
								}
								else
								{
									<div>
										<div class="wow-pricing-table col-md-12">
											<div class="wow-pricing wow-column-">
												<div class="wow-pricing-header" style="padding-bottom: 0px;">
													<h5>AzureDay @Configuration.Year</h5>
													<div class="wow-pricing-cost" style="padding: 15px;">
														<p>@My.ThankYouWait</p>
														<p>
															@My.PayNow <a href="/Profile/PayAgain/@Model.PayedWorkshopTicket.TicketType">@My.ByLink</a>.
														</p>
														<p>@My.DropPayment01 <a href="/Profile/DeleteTicket/@Model.PayedWorkshopTicket.TicketType">@My.ByLink</a>. @My.DropPayment01a</p>
														<p>@My.Questions01 <a href="mailto:pay@azureday.net">pay@azureday.net</a> @My.Questions01a</p>
													</div>
												</div>
												<div class="wow-pricing-content">
													<ul>
														<li>
															@My.Attendee (@Model.PayedWorkshopTicket.TicketType.ToString())<br />
															@Schedule.Date
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								}
							}
								
							@if (Model.PayedConferenceTicket == null || Model.PayedWorkshopTicket == null)
							{
								<div>
									<div class="input-group myInputGroupdivider">
										<span class="input-group-addon" style="width: 150px;">@My.TicketCode</span>
										<input class="form-control" name="promoCode" placeholder="@My.TicketCode" data-bind="textInput: promoCode" style="width: 250px;"/>
									</div>
									<div class="input-group myInputGroupdivider">
										<span class="input-group-addon" style="width: 150px;">@My.TicketPrice</span>
										<input class="form-control" readonly="readonly" disabled="disabled" data-bind="value: currentPrice" style="width: 250px;"/>
									</div>

									<input id="paymentType" name="paymentType" type="hidden"/>

									<a href="#" id="btnPayKaznachey" class="btn btn-primary">@My.PayByCard</a>
									@*<a href="#" id="btnPayLiqPay" class="btn btn-primary">@My.PayViaLiqPay</a>*@
								</div>
							}
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

	@Html.Action("Footer", "Layout")

	@Html.Partial("_ModalWait")

</div>

@section Scripts
{
	@Scripts.Render("~/cdn/knockout/js")

	<script>
		$(document).ready(function() {
			(function profile() {
				var profileModel = {
					fName: ko.observable('@Model.FirstName'),
					lName: ko.observable('@Model.LastName'),
					password: ko.observable(''),
					password2: ko.observable(''),
					company: ko.observable('@Model.Company')
				};
				profileModel.isPasswordLengthValid = ko.computed(function() {
					var password = profileModel.password();
					var password2 = profileModel.password2();
					var isPasswordLengthValid;
					if (!password && !password2) {
						isPasswordLengthValid = true;
					} else {
						var length = Math.min(password.length, password2.length);
						isPasswordLengthValid = length >= 6;
					}
					return isPasswordLengthValid;
				});
				profileModel.isPasswordValid = ko.computed(function() {
					var password = profileModel.password();
					var password2 = profileModel.password2();
					var isPasswordValid;
					if (!password && !password2) {
						isPasswordValid = true;
					} else {
						isPasswordValid = password == password2;
					}
					return isPasswordValid;
				});
				profileModel.isModelValid = ko.computed(function() {
					var fName = profileModel.fName();
					var lName = profileModel.lName();
					var company = profileModel.company();
					return !!fName && !!lName && !!company;
				});
				profileModel.showModal = function() {
					setTimeout(function() {
						modal.showModal();
					});
					return true;
				}
				ko.applyBindings(profileModel, document.getElementById('divProfile'));
			})();

			(function($) {
				$.QueryString = (function(paramsArray) {
					var params = {};

					for (var i = 0; i < paramsArray.length; ++i) {
						var param = paramsArray[i].split('=', 2);

						if (param.length !== 2) {
							continue;
						}

						params[param[0]] = decodeURIComponent(param[1].replace(/\+/g, " "));
					}

					return params;
				})(window.location.search.toLowerCase().substr(1).split('&'));
			})(jQuery);

			(function ticket() {
				var ticketModel = {
					isConferenceTicket: ko.observable(@{ Write((Model.PayedConferenceTicket == null).ToString().ToLowerInvariant()); }),
					isWorkshopTicket: ko.observable(@{ Write((Model.PayedWorkshopTicket == null).ToString().ToLowerInvariant()); }),
					selectedWorkshop: ko.observable($.QueryString['workshopid']),
					workshops: [
						@Html.Raw(string.Join(",", Model.Workshops.Select(x => $"{{ id:'{x.Workshop.Id}', title:'{x.Workshop.Title} ({My.TicketsLeft} {x.TicketsLeft})' }}")))
					],
					promoCode: ko.observable(),
					currentPrice: ko.observable()
				};

				function calculateNewPrice(conferenceTicket, workshopId, promoCode) {
					$.get('/api/tickets/price' +
						'?conferenceTicket=' +
						conferenceTicket +
						'&workshopId=' +
						workshopId +
						'&promoCode=' +
						promoCode,
						function(data) {
							ticketModel.currentPrice(data + ' @My.Currency');
						});
				}

				ticketModel.isAnyTicketSelected = ko.computed(function() {
					return ticketModel.isConferenceTicket() || (ticketModel.isWorkshopTicket() && ticketModel.selectedWorkshop() > 0);
				});

				ticketModel.promoCode.subscribe(function(newPromoCode) {
					ticketModel.currentPrice(null);
					var workshopId = ticketModel.isWorkshopTicket() ? ticketModel.selectedWorkshop() : 0;
					calculateNewPrice(ticketModel.isConferenceTicket(), workshopId, newPromoCode);
				});

				ticketModel.isConferenceTicket.subscribe(function(newConferenceTicket) {
					ticketModel.currentPrice(null);
					var workshopId = ticketModel.isWorkshopTicket() ? ticketModel.selectedWorkshop() : 0;
					calculateNewPrice(newConferenceTicket, workshopId, ticketModel.promoCode());
				});

				ticketModel.isWorkshopTicket.subscribe(function(newWorkshopTicket) {
					ticketModel.currentPrice(null);
					var workshopId = newWorkshopTicket ? ticketModel.selectedWorkshop() : 0;
					calculateNewPrice(ticketModel.isConferenceTicket(), workshopId, ticketModel.promoCode());
				});

				ticketModel.selectedWorkshop.subscribe(function(newSelectedWorkshop) {
					ticketModel.currentPrice(null);
					var workshopId = ticketModel.isWorkshopTicket() ? newSelectedWorkshop : 0;
					calculateNewPrice(ticketModel.isConferenceTicket(), workshopId, ticketModel.promoCode());
				});

				ko.applyBindings(ticketModel, document.getElementById('divTicket'));

				var workshopId = ticketModel.isWorkshopTicket() ? ticketModel.selectedWorkshop() : 0;
				calculateNewPrice(ticketModel.isConferenceTicket(), workshopId, ticketModel.promoCode());
			})();

			$('#btnPayKaznachey').click(function() {
				$('#paymentType').val('Kaznachey');
				$('[name="hasConferenceTicket"]').val($('#cbConferenceTicket').is(":checked"));
				$('[name="hasWorkshopTicket"]').val($('#cbWorkshopTicket').is(":checked"));
				setTimeout(function() {
					modal.showModal();
				});
				$('#formPay').submit();
			});

			$('#btnPayLiqPay').click(function() {
				$('#paymentType').val('LiqPay');
				$('[name="hasConferenceTicket"]').val($('#cbConferenceTicket').is(":checked"));
				$('[name="hasWorkshopTicket"]').val($('#cbWorkshopTicket').is(":checked"));
				setTimeout(function() {
					modal.showModal();
				});
				$('#formPay').submit();
			});
		});

		function renderGravatarProfile(profile) {
			if (!profile || !profile.entry || !profile.entry[0]) {
				return;
			}

			var avatarUrl = profile.entry[0].thumbnailUrl;

			var img1 = $('#imgGravatar1');
			img1.attr('src', avatarUrl);
			img1.show();

			var img2 = $('#imgGravatar2');
			img2.attr('src', avatarUrl);
			img2.show();
		}
	</script>

	<script src="@($"https://www.gravatar.com/{Model.EmailHash.ToLower()}.json?callback=renderGravatarProfile")"></script>
}