@using TeamSpark.AzureDay.WebSite.Config
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Profile
@model TeamSpark.AzureDay.WebSite.Host.Models.Profile.RegistrationModel

@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - регистрация";
}

<div class="boxedcontent">

	@Html.Action("Header", "Layout")

	<div class="container">
		<div class="row">
			<div class="col-md-9">

				<div>
					&nbsp;
				</div>

				<h1>@Registration.RegisterFor <span class='colortext'>AzureDay</span></h1>

				<div style="padding-bottom: 25px;">
					@Registration.ToRegister01 <span class='colortext'>@Registration.ToRegister01a</span>@Registration.ToRegister01b
				</div>
				<div style="padding-bottom: 25px;">
					@Registration.ToRegister02 <span class='colortext'>@Registration.ToRegister02a</span> @Registration.ToRegister02b
				</div>
				<div style="padding-bottom: 25px;">
					@Registration.ToRegister03
				</div>

				@if (!string.IsNullOrEmpty(Model.ErrorMessage))
				{
					<div class="alert alert-danger" style="width: 400px;">
						@Model.ErrorMessage
					</div>
				}

				<form method="POST" data-bind="submit: showModal">

					<div class="input-group myInputGroupdivider">
						<span class="input-group-addon" style="width: 150px;">@Registration.Email</span>
						<input class="form-control" name="email" data-bind="textInput: email" placeholder="@Registration.Email" style="width: 250px;" />
					</div>

					<div class="input-group myInputGroupdivider">
						<span class="input-group-addon" style="width: 150px;">@Registration.Pass</span>
						<input class="form-control" name="password" type="password" data-bind="textInput: password" placeholder="@Registration.Pass" style="width: 250px;" />
					</div>

					<div class="input-group myInputGroupdivider">
						<span class="input-group-addon" style="width: 150px;">@Registration.RepeatPass</span>
						<input class="form-control" type="password" data-bind="textInput: password2" placeholder="@Registration.RepeatPass" style="width: 250px;" />
					</div>

					<div style="width: 400px;" class="alert alert-danger" role="alert" data-bind="style: { display: isPasswordValid() ? 'none' : 'block' }">@Registration.PassMatch</div>
					<div style="width: 400px;" class="alert alert-danger" role="alert" data-bind="style: { display: isPasswordLengthValid() && isPasswordLength2Valid() ? 'none' : 'block' }">@Registration.PassLength</div>

					<div class="input-group myInputGroupdivider">
						<span class="input-group-addon" style="width: 150px;">@Registration.Name</span>
						<input class="form-control" name="firstName" data-bind="textInput: fName" placeholder="@Registration.Name" style="width: 250px;" />
					</div>
					<div class="input-group myInputGroupdivider">
						<span class="input-group-addon" style="width: 150px;">@Registration.Surname</span>
						<input class="form-control" name="lastName" data-bind="textInput: lName" placeholder="@Registration.Surname" style="width: 250px;" />
					</div>
					<div class="input-group myInputGroupdivider">
						<span class="input-group-addon" style="width: 150px;">@Registration.Company</span>
						<input class="form-control" name="company" data-bind="textInput: company" placeholder="@Registration.Company" style="width: 250px;" />
					</div>

					<button class="btn btn-primary" type="submit" data-bind="enable: isModelValid">@Registration.Register</button>

					<div style="width: 400px; margin-top: 15px;" class="alert alert-warning" data-bind="style: { display: isModelValid() ? 'none' : 'block' }">@Registration.FillAllFields</div>

				</form>

				<div>
					@Registration.Terms01
				</div>
				<div>
					@Registration.Terms01a
				</div>

			</div>

			<div class="col-md-3">
				<section class="colorarea">
					<div class="bgsizecover headeropacity">
					</div>
				</section>
				<div class="container">
					<div class="row">
						<div class="col-md-12 negmtop">
							<h1 class="pgheadertitle animated fadeInLeft pull-left">@Registration.Tickets</h1>
							<span class="pagedescrarea text-right animated fadeInRight pull-right">
								<i>@Registration.UseYourDiscount</i>
							</span>
						</div>
					</div>
				</div>

				<!-- begin 4 column pricing -->
				<div class="shortcode row">

					<div class="wow-pricing-table col-md-12">
						<div class="wow-pricing wow-column-">
							<div class="wow-pricing-header">
								<h5>@Registration.TicketType01</h5>
								<div class="wow-pricing-cost">
									@Configuration.TicketRegular UAH
								</div>
								<div class="wow-pricing-per">
									@Registration.OneTicket
								</div>
							</div>
							<div class="wow-pricing-content">
								<ul>
									<li>@Registration.BestBefore01</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="wow-pricing-table col-md-12">
						<div class="wow-pricing wow-column-">
							<div class="wow-pricing-header">
								<h5>@Registration.TicketType02</h5>
								<div class="wow-pricing-cost">
									@Configuration.TicketWorkshop UAH
								</div>
								<div class="wow-pricing-per">
									@Registration.OneTicket
								</div>
							</div>
							<div class="wow-pricing-content">
								<ul>
									<li>@Registration.BestBefore01</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="wow-pricing-table col-md-12">
						<div class="wow-pricing featured wow-column-">
							<div class="wow-pricing-header">
								<h5>
									@Registration.TicketType01
									+
									@Registration.TicketType02
								</h5>
								<div class="wow-pricing-cost">
									<span style="text-decoration: line-through;">
										@Configuration.TicketRegular
										+
										@Configuration.TicketWorkshop
									</span>
									<br/>
									<b>- 10%</b>
									<br/>
									@{
										var price = Configuration.TicketRegular + Configuration.TicketWorkshop;
										price *= 0.9m;
										Write(price.ToString("G0"));
									}
									UAH
								</div>
								<div class="wow-pricing-per">
									@Registration.OneTicket
								</div>
							</div>
							<div class="wow-pricing-content">
								<ul>
									<li>@Registration.BestBefore01</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

	@Html.Action("Footer", "Layout")

	@Html.Partial("_ModalWait")

	@section Scripts
	{
		@Scripts.Render("~/cdn/knockout/js")

		<script>
			$(document).ready(function () {
				var registrationModel = {
					email: ko.observable(''),
					password: ko.observable(''),
					password2: ko.observable(''),
					fName: ko.observable(''),
					lName: ko.observable(''),
					company: ko.observable('')
				};

				registrationModel.isPasswordLengthValid = ko.computed(function () {
					var pwd = registrationModel.password();
					return !!pwd && pwd.length >= 6;
				});

				registrationModel.isPasswordLength2Valid = ko.computed(function () {
					var pwd = registrationModel.password2();
					return !!pwd && pwd.length >= 6;
				});

				registrationModel.isPasswordValid = ko.computed(function () {
					var pwd = registrationModel.password();
					var pwd2 = registrationModel.password2();

					return pwd === pwd2 && registrationModel.isPasswordLengthValid() && registrationModel.isPasswordLength2Valid();
				});

				registrationModel.isModelValid = ko.computed(function () {
					var email = registrationModel.email();
					var fName = registrationModel.fName();
					var lName = registrationModel.lName();
					var company = registrationModel.company();

					return registrationModel.isPasswordValid() && !!email && !!fName && !!lName && !!company;
				});

				registrationModel.showModal = function () {
					setTimeout(function () {
						modal.showModal();
					});
					return true;
				}

				ko.applyBindings(registrationModel);
			});
		</script>
	}

</div>
