@using TeamSpark.AzureDay.WebSite.Config
@using TeamSpark.AzureDay.WebSite.Data.Enum
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Home
@model TeamSpark.AzureDay.WebSite.Host.Models.Home.ScheduleModel

@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - {Schedule.Title}";
}

<div class="boxedcontent">
	@Html.Action("Header", "Layout")

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="titleborder center">
					<div>
						<h1 class="animated fadeInDownBig" style="text-transform: capitalize">@Schedule.Title AzureDay</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			@for (var i = 0; i < Model.Rooms.Count; i++)
			{
				<div class="col-md-2 col-sm-2">
					<div class="box effect2 @($"myAreaContainer{Model.Rooms[i].ColorNumber}")">
						@Model.Rooms[i].Title
					</div>
				</div>
			}
		</div>

		@foreach (var timetables in Model.Timetables)
		{
			<div class="row">
				@if (timetables.Count == 1)
				{
					if (timetables[0].Room.RoomType == RoomType.CoffeeRoom)
					{
						<div class="col-md-12 col-sm-12">
							<div class="box">
								<div class="mySlotTime">
									@($"{timetables[0].TimeStartHours}:{timetables[0].TimeStartMinutes.ToString("D2")}") -
									@($"{timetables[0].TimeEndHours}:{timetables[0].TimeEndMinutes.ToString("D2")}")
								</div>
								<div style="text-align: center;">
									<i>@timetables[0].Topic.Title</i>
								</div>
							</div>
						</div>
					}
					else
					{
						<div class="col-md-12 col-sm-12">
							<div class="box effect6 myAreaBoxBorder1">
								<div class="mySlotTime">
									@($"{timetables[0].TimeStartHours}:{timetables[0].TimeStartMinutes.ToString("D2")}") -
									@($"{timetables[0].TimeEndHours}:{timetables[0].TimeEndMinutes.ToString("D2")}")
								</div>
								@if (timetables[0].Topic.Speaker != null)
								{
									<div class="mySlotAuthor">
										@timetables[0].Topic.Speaker.FullName
									</div>
								}
								<div style="text-align: center;">
									<b>@timetables[0].Topic.Title</b><br /><br />
									@if (timetables[0].Topic.Language != null && !string.IsNullOrEmpty(timetables[0].Topic.Language.Title))
									{
										@Html.Raw($"{Schedule.Language}: {timetables[0].Topic.Language.Title}")
									}
									@*@timetables[0].Topic.Description*@
								</div>
							</div>
						</div>
					}
				}
				else
				{
					for (var i = 0; i < timetables.Count; i++)
					{
						<div class="col-md-2 col-sm-2 col-schedule" style="padding: 0px 5px 0px 5px; @Html.Raw(timetables[i].HasLanguage ? string.Empty : "opacity: 0.5;")">
							<div class="box effect2 @($"myAreaBoxBorder{timetables[i].Room.ColorNumber}")">
								<div class="mySlotTime">
									@($"{timetables[i].TimeStartHours}:{timetables[i].TimeStartMinutes.ToString("D2")}") -
									@($"{timetables[i].TimeEndHours}:{timetables[i].TimeEndMinutes.ToString("D2")}")
								</div>
								@if (timetables[i].Topic.Speaker != null)
								{
									<div class="mySlotAuthor">
										@timetables[i].Topic.Speaker.FullName
									</div>
								}
								<div>
									<b>@timetables[i].Topic.Title</b><br /><br />
									@if (timetables[i].HasLanguage)
									{
										@Html.Raw($"{Schedule.Language}: {timetables[i].Topic.Language.Title}<br /><br />")
									}
									@timetables[i].Topic.Description
								</div>
							</div>
						</div>
					}
				}
			</div>
		}

	</div>

	@Html.Action("Footer", "Layout")

</div><!-- end boxedcontent -->