@using TeamSpark.AzureDay.WebSite.Config
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Home
@model TeamSpark.AzureDay.WebSite.Host.Models.Home.SpeakerEntityModel
@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - {Model.Speaker.FullName}";
}

<div class="boxedcontent">
	@Html.Action("Header", "Layout")
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="titleborder center">
					<div>
						<h1 class="animated fadeInDownBig">@Model.Speaker.FullName</h1>
					</div>
				</div>
			</div>
		</div>
		
		@if (Model.Workshops.Any())
		{
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="titleborder center">
						<div>
							<h1 class="animated fadeInDownBig" style="text-transform: capitalize">@Workshops.Title AzureDay</h1>
							<h2 class="animated fadeInDownBig">@Workshops.Date</h2>
						</div>
					</div>
				</div>
			</div>

			foreach (var workshop in Model.Workshops)
			{
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="box effect6 @($"myAreaBoxBorder{workshop.Room.ColorNumber}")">
					
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<img class="img-responsible" style="margin-bottom: 10px;" src="@workshop.Speaker.PhotoUrl" alt="@workshop.Speaker.FullName" />
							</div>

							<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
								@if (workshop.Speaker != null)
								{
									<div class="mySlotAuthor">
										@workshop.Speaker.FullName
									</div>
								}
								<div style="text-align: center;">
									<div class="mySlotTime">
										9:00 - 17:00
									</div>
									<a style="color: #777;" href="/workshop/@workshop.Id"><b>@workshop.Title</b></a><br /><br />
									@if (workshop.Language != null && !string.IsNullOrEmpty(workshop.Language.Title))
									{
										@Html.Raw($"{Schedule.Language}: {workshop.Language.Title}")
									}
								</div>
							
								<div style="text-align: justify;">
									@Workshops.TicketsLeft
									:
								</div>

								<div style="text-align: justify;">
									<p>
										@Workshops.Agenda
									</p>
									<p>
										...
									</p>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			}
		}
		
		@if (Model.Topics.Any())
		{
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="titleborder center">
						<div>
							<h1 class="animated fadeInDownBig" style="text-transform: capitalize">@Schedule.Title AzureDay</h1>
							<h2 class="animated fadeInDownBig">@Schedule.Date</h2>
						</div>
					</div>
				</div>
			</div>

			foreach (var topic in Model.Topics)
			{
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="box effect6">

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<img class="img-responsible" style="margin-bottom: 10px;" src="@topic.Speaker.PhotoUrl" alt="@topic.Speaker.FullName" />
							</div>

							<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
								@if (topic.Speaker != null)
								{
									<div class="mySlotAuthor">
										@topic.Speaker.FullName
									</div>
								}
								<div style="text-align: center;">
									
									<b>@topic.Title</b><br /><br />
									@if (topic.Language != null && !string.IsNullOrEmpty(topic.Language.Title))
									{
										@Html.Raw($"{Schedule.Language}: {topic.Language.Title}")
									}
								</div>
								
							</div>
						</div>

					</div>
				</div>
			}
		}
	</div>

	@Html.Action("Footer", "Layout")
</div>