@using TeamSpark.AzureDay.WebSite.Config
@using TeamSpark.AzureDay.WebSite.Localization.Host.Views.Home
@model TeamSpark.AzureDay.WebSite.Host.Models.Home.WorkshopEntityModel
@{
	ViewBag.Title = $"AzureDay {Configuration.Year} - {Model.Workshop.Title}";
}

<div class="boxedcontent" style="margin-top: 79px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<img src="@Workshops.Img" alt="@Workshops.Title" class="img-responsive" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="titleborder center">
					<div>
						<h1 class="animated fadeInDownBig" style="text-transform: capitalize">@Workshops.Title AzureDay</h1>
						<h2 class="animated fadeInDownBig">@Workshops.Date</h2>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center; font-size: 1.2em; margin-bottom: 20px;">
				@WorkshopEntity.About01 <br />
				@WorkshopEntity.About01a
			</div>
		</div>
		
		@Html.Partial("_Workshop", Model)

	</div>
</div><!-- end boxedcontent -->